@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-marquee {
    animation: marquee 25s linear infinite;
  }
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

@layer base {
  body {
    @apply font-sans antialiased text-gray-900 bg-white;
  }
}

@layer utilities {
  .animate-ken-burns {
    animation: kenBurns 40s ease-out infinite alternate;
  }
}

@keyframes kenBurns {
  0% { transform: scale(1); }
  100% { transform: scale(1.15); }
}
