@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans antialiased text-gray-900 bg-white;
  }
}

@layer utilities {
  .animate-ken-burns {
    animation: kenBurns 20s ease-out infinite alternate;
  }
}

@keyframes kenBurns {
  0% {
    transform: scale(1) translate(0, 0);
  }
  100% {
    transform: scale(1.15) translate(-2%, -3%);
  }
}
